<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>@ViewBag.Title</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-signalr")
        
        <script src="~/signalr/hubs"></script>
    </head>
    <body>
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Ivan Ivanov</p>
        </footer>
    
        @RenderSection("scripts", required: false)
    </body>
</html>